
html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #111;
}

.banner {
	position: fixed;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
	z-index: 1;
	background-color: #111;
}

.banner h1 {
	color: #fff;
	padding: 0;
	margin: 0;
	text-align: center;
}

#hamburger-button {
	font-size: 30px;
	cursor: pointer;
	position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
	transition: 0.5s;
	background-color: #111;
	color: #fff;
}

#list {
	height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
}

#list h1 {
    padding: 0px 2px 2px 2px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#list h2 {
    padding: 1px 1px 1px 1px;
    text-decoration: none;
    font-size: 13px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#list h3 {
    padding: 1px 1px 1px 1px;
    text-decoration: none;
    font-size: 10px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#map {
    height: 100%;
    z-index: 0;
}

.location {
	cursor: pointer;
}