
html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#hamburger-button {
	font-size: 30px;
	cursor: pointer;
	position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
	transition: 0.5s;
	background-color: #111;
	color: #fff;
}

#list {
	height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#list h3 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#map {
    height: 100%;
}

.location {
	cursor: pointer;
}